*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #DBDBD4;
}
header{
  height: 130px;
  background-color: #009688;
}
#central-window{
  max-width: 1400px;
  height: 900px;
  margin: -110px auto 100px;
  border-radius: 5;
}

/* BARRA SUPERIORE */
#menu{
  height: 65px;
  background-color: #EEE;
}
#menu > *{
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#personal-bar{
  width: 30%;
  border-right: 1px solid lightgrey;
}
#friend-bar{
  width: 70%;
}
#menu::after{
  content: "";
  display: table;
  clear: both;
}
/* IMPOSTAZIONE PER LE FOTO E LE ICONE PER LA NAV */
.round-pic{
  border-radius: 50px;
  width: 40px;
  margin-left: 20px;
}
#icons-menu{
  color: #8B9194;
  margin-right: 20px;
  display: flex;
  width: 150px;
  justify-content: space-around;
  font-size: 18px;
}
/* PARTE DESTRA DELLA BARRA */
#friend-bar #left-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#friend-bar #contact-name{
  justify-self: flex-start;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

/* PARTE CENTRALE DELLA FINESTRA */
#conv-list, #conversation{
  float: left;
}
#conv-list{
  width: 30%;
  display: flex;
  flex-direction: column;
}
#conversation{
  width: 70%;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

/* LISTA CONVERSAZIONI */
#conv-list .list-conv.notify{
  background-color: #9DE1FE;
  padding: 20px 0;
}
#conv-list .list-conv.notify .fa-bell-slash{
  background-color: white;
  color: #9DE1FE;
  margin-left: 20px;
  padding: 15px;
  border-radius: 50px;
  font-size: 18px;
}
#conv-list .list-conv{
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
}
#conv-list .list-conv img{
  width: 50px;
}
